.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #323f49;
}

.card-header {
    background: #f1d533;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    border-top: 3px solid #3088da;
    border-bottom: 3px solid #3088da;
    border-left: 3px solid #3088da;
    border-right: 3px solid #3088da;

}

.pp-img {
    float: right;
    margin-top: -2px;

    margin-left: 10px;
}






.container {
    text-align: left;
    background-attachment: fixed;
    padding-top: 20px;

}



.ppp-1 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;

}

.ppp-2 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.ppp-3 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.ppp-9 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.ppp-5 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.ppp-6 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.ppp-7 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;


}

.ppp-8 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.ppp-11 {
    margin-bottom: 10px;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    text-align: center;

}